<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
{% raw %}
<v-app id="mediaprocessor">

  <v-app-bar
    app
  >
    <v-toolbar-title>Face finder</v-toolbar-title>
  </v-app-bar>

  <v-content>
    <v-container fluid>
      <!--         Загрузка файлов -->
      <v-row
        align="center"
        justify="center"
      >
        <v-col cols="10">
          <v-card>
            <v-card-title>
              Добавление новых файлов
            </v-card-title>
            <v-card-actions>
              <v-file-input
                label="Выберите файлы"
                :loading="filesLoading"
                show-size
                :counter="maxImageForDownloadCount"
                multiple
                small-chips
                v-model="filesForDownload"
              ></v-file-input>
            </v-card-actions>
            <v-card-actions>
              <v-btn
                color="primary"
                @click="saveFiles"
                :disabled="sendButtonDisabled"
                small
                :loading="loading"
              >
                загрузить файлы
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
      <!--         Поиск файлов -->
      <v-row
        align="center"
        justify="center"
      >
        <v-col cols="10">
          <v-card>
            <v-card-title>
              Поиск файлов
            </v-card-title>
            <v-card-actions>
              <v-file-input
                show-size
                label="Выберите файл"
                v-model="fileForFinding"
                @change="changeFindingSimilar"
              ></v-file-input>
            </v-card-actions>
            <v-card-actions>
              <v-btn
                color="primary"
                @click="searchFiles"
                :disabled="findButtonDisabled"
                :loading="loading"
                small
              >
                Найти похожие
              </v-btn>
            </v-card-actions>
            <v-container fluid>
              <v-row dense>
                <v-col
                  v-for="(findingImg, idx) in findingImages"
                  :key="findingImg.img_url + idx"
                  lg="3"
                  md="4"
                  sm="12"
                >
                  <v-card>
                    <v-img
                      alt="finding picture"
                      :src="findingImg.img_url"
                      class="pa-2"
                    ></v-img>
                    <v-card-text>
                      Similarity: {{ findingImg.similarity_distance }}
                    </v-card-text>
                    <v-card-actions>
                      <a
                        download
                        :href="findingImg.img_url"
                      >
                        Скачать
                      </a>
                    </v-card-actions>
                  </v-card>
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-col>
      </v-row>
      <!--      Просмотр файлов-->
      <v-row
        align="center"
        justify="center"
      >
        <v-col cols="10">
          <v-card>
            <v-card-title>
              Просмотр списка файлов
            </v-card-title>
            <v-card-actions>
              <iframe ref="fileList" :src="iframeLocation" width="600" height="200">
                Ваш браузер не поддерживает плавающие фреймы!
              </iframe>
            </v-card-actions>
            <v-card-actions>
              <v-btn
                color="primary"
                @click="toPreviousLocation"
                small
              >
                назад
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-content>

  <v-footer
    app
  >
    <span class="px-4">&copy; {{ new Date().getFullYear() }}</span>
  </v-footer>
</v-app>
{% endraw %}
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  // download/image
  new Vue({
    el: '#mediaprocessor',
    vuetify: new Vuetify(),
    data: {
      filesLoading: false,
      filesForDownload: [],
      fileForFinding: null,
      findingImages: [],
      maxImageForDownloadCount: 5,
      loading: false,
      iframeLocation: '/mediaexplorer'
    },
    computed: {
      sendButtonDisabled() {
        return !this.filesForDownload.length || (this.filesForDownload.length > this.maxImageForDownloadCount)
      },
      findButtonDisabled() {
        return !this.fileForFinding
      }

    },
    methods: {
      catchFiles(eventPayload) {
        console.log("eventPayload", eventPayload)
        console.log("this.filesForDownload", this.fileForFinding)
      },
      changeFindingSimilar() {
        this.findingImages = []
      },
      showFilesList() {
        window.open('download/image',
          'Stored files list',
          'top=80,left=80,width=620,height=630,resizable,scrollbars=yes,status,location=1,toolbar=yes,menubar'
        )
      },
      sendFile(file, url) {
        return axios({
          method: 'post',
          url: url,
          data: file,
          headers: {
            'Content-Type': file.type
          }
        }).then(response => {
          console.debug('response', response)
          return response.data
        }).catch(error => {
          console.warn(error.response)
          console.dir(error.response)
          alert(error.response.statusText || error.response.data)
          throw new Error('Error in request')
        })
      },
      saveFiles() {
        this.loading = true
        console.log(this.filesForDownload)
        Promise.all(
          this.filesForDownload.map((file) => this.sendFile(file, "/api/upload/image"))
        ).then(() => {
          alert('Файлы загружены.')
          this.filesForDownload = []
        })
          .catch(() => {}).finally(() => {this.loading = false})
      },
      searchFiles() {
        this.loading = true
        this.sendFile(this.fileForFinding, "/api/find/similar")
          .then((findingImages => {
            console.debug('findingImages', findingImages)
            this.findingImages = findingImages.map(findImgObj => findImgObj)
          })).catch(() => {}).finally(() => {this.loading = false})
      },
      toPreviousLocation() {
        console.log(this)
        this.$refs.fileList.contentWindow.history.back()
      },
    }
  })
</script>
</body>
</html>